{% extends "@Blog/QMTheme/layout.html.twig" %}
{% block content %}
<section>
  <div class="container">
    <div class = 'row'>
      <div class = 'col-md-9 col-sm-12'>
        <div class = 'well-container'>
                <div class = 'row'>
                  {% for post in posts %}
                  <div class = 'col-6 mp-item'>

                    <a class = 'mp-item-image-link' href = "{{ path('blog_post', { 'postSlug' : post.slug }) }}">
										
						<div class="mp-item-image-background" style="background:url({% path post.thumbnail, 'default_big' %}) no-repeat; background-size:auto 100%; background-position:center;" ></div>
					


                    </a>
                    <h3 class = 'mp-item-title'>
                      <a href = "{{ path('blog_post', { 'postSlug' : post.slug }) }}">{{ post.postTranslations[0].title }}</a>
                    </h3>
                  </div>
                  {% endfor %}
              </div>
        </div>
      </div>
      
       {{ render(controller('BlogBundle\\Controller\\BlogController::sideBar')) }}
    
    </div>
  </div>
</section>

{% endblock %}
