{% extends "@Blog/QMTheme/layout.html.twig" %}
{% set p =  post.postTranslations[0] %}

{% block title %}{{ p.metaTitle ? p.metaTitle : p.title}}{% endblock %}
{% block meta_description %}{{ p.metaDescription}}{% endblock %}
{% block meta_keywords %}{{ p.metaKeywords}}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class = 'row'>
      <div class = 'col-md-9'>
        <div class = 'well-container'>
          <div class = 'well'>


            <h1>{{ p.title }}</h1>
            <div class="">
              {{ p.text | raw }}

            </div>



          </div>
        </div>
      </div>
      
       {{ render(controller('BlogBundle\\Controller\\BlogController::sideBar')) }}

    
    </div>
  </div>
</section>

{% endblock %}
