# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# start page (path "/") because otherwise Apache will apply the rewriting rules
# to each configured DirectoryIndex file (e.g. index.php, index.html, index.pl).
DirectoryIndex app.php

# By default, Apache does not evaluate symbolic links if you did not enable this
# feature in your server configuration. Uncomment the following line if you
# install assets as symlinks or if you experience problems related to symlinks
# when compiling LESS/Sass/CoffeScript assets.
# Options FollowSymlinks

# Disabling MultiViews prevents unwanted negotiation, e.g. "/app" should not resolve
# to the front controller "/app.php" but be rewritten to "/app.php/app".
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Determine the RewriteBase automatically and set it as environment variable.
    # If you are using Apache aliases to do mass virtual hosting or installed the
    # project in a subdirectory, the base path will be prepended to allow proper
    # resolution of the app.php file and to redirect to the correct URI. It will
    # work in environments without path prefix as well, providing a safe, one-size
    # fits all solution. But as you do not need it in this case, you can comment
    # the following 2 lines to eliminate the overhead.
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect to URI without front controller to prevent duplicate content
    # (with and without `/app.php`). Only do this redirect on the initial
    # rewrite by Apache and not on subsequent cycles. Otherwise we would get an
    # endless redirect loop (request -> rewrite to front controller ->
    # redirect -> request -> ...).
    # So in case you get a "too many redirects" error or you always get redirected
    # to the start page because your Apache does not expose the REDIRECT_STATUS
    # environment variable, you have 2 choices:
    # - disable this feature by commenting the following 2 lines or
    # - use Apache >= 2.3.9 and replace all L flags by END flags and remove the
    #   following RewriteCond (best solution)
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^ %{ENV:BASE}/app.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>

Redirect 301 /index.php/101-ksm-part1 /post/Urok1
Redirect 301 /index.php/100-ksm-part2 /post/Urok2
Redirect 301 /index.php/99-ksm-part3 /post/Urok3
Redirect 301 /index.php/98-ksm-part4 /post/Urok4
Redirect 301 /index.php/97-ksm-part5 /post/Urok5
Redirect 301 /index.php/96-part6 /post/Urok6
Redirect 301 /index.php/104-kak-zarabatyvat-na-multfilmakh /post/Urok7
Redirect 301 /index.php/kurs-multiplic/106-videokurs-kak-sdelat-krutogo-i-udobnogo-personazha /post/Urok8
Redirect 301 /index.php/110-ksm-part9 /post/Urok9
Redirect 301 /index.php/111-ksm-part10 /post/Urok10
Redirect 301 /index.php/116-11-sozdanie-skeleta-v-anime-studio-pro-tipichnye-oshibki /post/Urok11
Redirect 301 /index.php/119-12-pravilo-tretei /post/Urok12
Redirect 301 /index.php/120-top-multfilmi /post/Urok13
Redirect 301 /index.php/121-predmety /post/Urok14
Redirect 301 /index.php/122-15-kak-polzovatsya-anime-studio-pro /post/Urok15
Redirect 301 /index.php/125-15-kak-polzovatsya-anime-studio-pro-2 /post/Urok16
Redirect 301 /index.php/126-17-blog /post/Urok17
